github "SwiftyBeaver/SwiftyBeaver"
github "Quick/Nimble"
github "Quick/Quick"
github "Swinject/Swinject"
github "Hearst-DD/ObjectMapper"
github "realm/realm-cocoa"
github "SwiftKit/Cuckoo"
github "vadymmarkov/Fakery"
github "Swinject/SwinjectAutoregistration"
github "ReactiveX/RxSwift"
github "onevcat/Kingfisher"
github "AliSoftware/OHHTTPStubs"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxAlamofire"
github "RxSwiftCommunity/RxSwiftExt"
github "RxSwiftCommunity/RxDataSources"
github "hsylife/SwiftyPickerPopover"
github "tristanhimmelman/AlamofireObjectMapper"
github "Alamofire/Alamofire"
github "mingchen/RxNimble"
